 1. Print All Elements
    Input [1, 2, 3, 4, 5]
    Output 1 2 3 4 5

In [ ]:
#Method-1
ar1 = list(map(int,input("Enter number with space: ").split()))
print(" ".join(map(str, ar1)))

#Method-2
str1 = ""
for i in ar1:
    str1 += str(i)
    str1 += " "
print(str1)

1 2 3 4 5
1 2 3 4 5

2. Print Elements in Reverse Order -
    Input: [10, 20, 30, 40]
    Output: 40 30 20 10

In [13]:
#Method-1
arr2 = [10, 20, 30, 40]
str2 = ""
for i in range(1,len(arr2)+1):
    str2 += str(arr2[-i])
    str2 += " "
print(str2)

#Method-2
print(" ".join(map(str,arr2[::-1])))

40 30 20 10
40 30 20 10

3. Print Even Numbers Only-
Input [3, 6, 9, 12, 15]
Output 6 12

In [30]:
#Method-1
arr3 = [3, 6, 9, 12, 15]
str3 = ""
for i in arr3:
    if i%2 == 0:
        str3 += str(i)
        str3 += " "
print(str3)

#Method-2
x = lambda x : x%2 == 0
ar_list = " ".join(map(str,list(filter(x,arr3))))
# print(" ".join(map(str, ar_list)))
print(ar_list)

6 12
6 12

4. Print Odd Numbers Only
Input [5, 10, 15, 20, 25]
Output 5 15 25

In [ ]:
#Method-1
arr4 = [5, 10, 15, 20, 25]
str4 = ""
for i in arr4:
    if i%2 != 0:
        str4 += str(i)
        str4 += " "
print(str4)

5 15 25