In [ ]:
# i = coloms
# j = rows

In [50]:
li=[]
for i in range(1,5+1):
    for j in range(1,5+1):
        li.append(j)
for k in range(1,5+1):
    print(*li[:k], '==>', sum(li[:k]))

1 ==> 1
1 2 ==> 3
1 2 3 ==> 6
1 2 3 4 ==> 10
1 2 3 4 5 ==> 15

In [8]:
n=5
for i in range(n):
    for j in range(n):
        print((i+j) % n+1,end=' ')
    print()

1 2 3 4 5
2 3 4 5 1
3 4 5 1 2
4 5 1 2 3
5 1 2 3 4

In [36]:
print('First iteration')
# first iteration i=0, j=0,1,2,3,4
#    ((i + j) % n + 1,end=" ")
print((0 + 0 )% 5 + 1,end=" ")
print((0 + 1 )% 5 + 1,end=" ")
print((0 + 2 )% 5 + 1,end=" ")
print((0 + 3 )% 5 + 1,end=" ")
print((0 + 4 )% 5 + 1,end="\n")
print('Second iteration',end="\n")
# second iteration i=1, j=0,1,2,3,4
print((1 + 0) % 5 + 1,end=" ")
print((1 + 1) % 5 + 1,end=" ")
print((1 + 2) % 5 + 1,end=" ")
print((1 + 3) % 5 + 1,end=" ")
print((1 + 4) % 5 + 1,end=" ")

First iteration
1 2 3 4 5
Second iteration
2 3 4 5 1

In [4]:
n=5
for i in range(n):
    for j in range(n):
        print((i + j) % n + 1,end=" ")
    print()

1 2 3 4 5
2 3 4 5 1
3 4 5 1 2
4 5 1 2 3
5 1 2 3 4

In [3]:
s='abcde'
n=len(s)
for i in range(n):
    for j in range(n):
        result = (i+j)%n
        print(s[result],end=' ')
    print()

a b c d e
b c d e a
c d e a b
d e a b c
e a b c d

In [ ]:
#2. Reverse direction (right to left shift)
n=5
for i in range(n):
    for j in range(n):
        print((i-j) % n+1, end=' ')
    print()

1 5 4 3 2
2 1 5 4 3
3 2 1 5 4
4 3 2 1 5
5 4 3 2 1

In [ ]:

n=5
for i in range(n):
    for j in range(n):
        print((j-i) % n+1, end=' ')
    print()

1 2 3 4 5
5 1 2 3 4
4 5 1 2 3
3 4 5 1 2
2 3 4 5 1

In [ ]:

n=5
for i in range(n):
    for j in range(n):
        print((i-j-1) % n+1, end=' ')
    print()

5 4 3 2 1
1 5 4 3 2
2 1 5 4 3
3 2 1 5 4
4 3 2 1 5

In [ ]:

n=5
for i in range(n):
    for j in range(n):
        print((j-i-1) % n+1, end=' ')
    print()

5 1 2 3 4
4 5 1 2 3
3 4 5 1 2
2 3 4 5 1
1 2 3 4 5

In [28]:
n=5
s='abcde'
for i in range(n):
    for j in range(n):
        result = (i-j)%n
        print(s[result],end=" ")
    print()

a e d c b
b a e d c
c b a e d
d c b a e
e d c b a

In [ ]:
#Diagonal with same numbers
n=5
for i in range(n):
    for j in range(n):
        print((i+j)%n*2+1,end=" ")
    print()

1 3 5 7 9
3 5 7 9 1
5 7 9 1 3
7 9 1 3 5
9 1 3 5 7

In [30]:
n=5
s='abcde'
for i in range(n):
    for j in range(n):
        result = (i+j)%n*2+1
        print(s[result],end=" ")
    print()

b d

IndexError: string index out of range

In [7]:
n=5
for i in range(n):
    for j in range(n):
        print(min(i,j,n-1-i,n-1-j)+1,end=" ")
    print()

1 1 1 1 1
1 2 2 2 1
1 2 3 2 1
1 2 2 2 1
1 1 1 1 1

In [34]:
n=5
s='abcde'
for i in range(n):
    for j in range(n):
        result = min(i,j,n-1-i,n-1-j)
        print(s[result],end=" ")
    print()

a a a a a
a b b b a
a b c b a
a b b b a
a a a a a

In [2]:
n=5
for i in range(n):
    for j in range(n):
        print((i*2+j)%n+1,end=' ')
    print()

1 2 3 4 5
3 4 5 1 2
5 1 2 3 4
2 3 4 5 1
4 5 1 2 3

In [36]:
n=5
s="abcde"
for i in range(n):
    for j in range(n):
        result = (i*2+j)%n
        print(s[result],end=" ")
    print()

a b c d e
c d e a b
e a b c d
b c d e a
d e a b c

In [9]:
n=5
for i in range(n):
    for j in range(n):
        print((i+j*2)%n+1,end=" ")
    print()

1 3 5 2 4
2 4 1 3 5
3 5 2 4 1
4 1 3 5 2
5 2 4 1 3

In [20]:
n=5
for i in range(n):
    for j in range(n):
        print((i*2+j*2)%n+1,end=" ")
    print()

1 3 5 2 4
3 5 2 4 1
5 2 4 1 3
2 4 1 3 5
4 1 3 5 2

In [18]:
n=5
for i in range(n):
    for j in range(n):
        print((i+j%2)%n+1,end=" ")
    print()

1 2 1 2 1
2 3 2 3 2
3 4 3 4 3
4 5 4 5 4
5 1 5 1 5

In [16]:
n=5
for i in range(n):
    for j in range(n):
        print((i%2+j)%n+1,end=" ")
    print()

1 2 3 4 5
2 3 4 5 1
1 2 3 4 5
2 3 4 5 1
1 2 3 4 5

In [25]:
n=5
for i in range(n):
    for j in range(n):
        print((i%2+j%2)%n+1,end=" ")
    print()

1 2 1 2 1
2 3 2 3 2
1 2 1 2 1
2 3 2 3 2
1 2 1 2 1

In [5]:
for i in range(1,5+1):
    stars="*"*i
    spaces=" "*(5-i)
    print(stars+spaces)

*
**
***
****
*****

In [1]:
for i in range(1,5+1):
    spaces=" "*(5-i)
    stars="*"*i
    print(spaces+stars)

    *
   **
  ***
 ****
*****

In [ ]:
n=5
for i in range(1,n+1):
    spaces=" "*(n-i)
    stars="*"*(i)
    triangle_side="*"*(i-1)
    print(spaces+stars+triangle_side)

    *
   ***
  *****
 *******
*********

In [8]:
n=5
for i in range(n+1):
    stars="*"*(n-i)
    spaces=" "*i
    print(stars+spaces)

*****
****
***
**
*

In [7]:
n=5
for i in range(n+1):
    spaces=" "*(i)
    stars="*"*(n-i)
    print(spaces+stars)

*****
 ****
  ***
   **
    *

In [11]:
n=5
for i in range(n+1):
    stars="*"*(n-i)
    spaces=" "*(i)
    down_triangle="*"*(n-i-1)
    print(spaces+stars+down_triangle)

*********
 *******
  *****
   ***
    *

In [17]:
n=5
for i in range(1,n+1):
    spaces=" "*(n-i)
    stars="*"*(i)
    triangle_side="*"*(i-1)
    print(spaces+stars+triangle_side)

for j in range(1,n+1):
    stars_1="*"*(n-j)
    spaces_1=" "*(j)
    down_triangle="*"*(n-j-1)
    print(spaces_1+stars_1+down_triangle)

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *