DAY - 1

In [26]:
n=4
for i in range(n):
    for j in range(n):
        print((i+j)%n+1,end=" ")
    print()

1 2 3 4
2 3 4 1
3 4 1 2
4 1 2 3

In [27]:
n=3
for i in range(n):
    for j in range(n):
        print((i*2+j)%n+1,end=" ")
    print()

1 2 3
3 1 2
2 3 1

In [28]:
n=5
for i in range(n):
    for j in range(n):
        print( (j-i-1) % n + 1, end=" ")
    print()

5 1 2 3 4
4 5 1 2 3
3 4 5 1 2
2 3 4 5 1
1 2 3 4 5

In [29]:
n=4
for i in range(n):
    for j in range(n):
        print((i+j)%n*2+1,end=" ")
    print()

1 3 5 7
3 5 7 1
5 7 1 3
7 1 3 5

In [30]:
n=5
for i in range(n):
    for j in range(n):
        print((j-i)%n+1,end=" ")
    print()

1 2 3 4 5
5 1 2 3 4
4 5 1 2 3
3 4 5 1 2
2 3 4 5 1

DAY - 2

In [31]:
n=5
for i in range(1,n+1):
    for j in range(1,n+1):
        print((i*j),end=" ")
    print()

1 2 3 4 5
2 4 6 8 10
3 6 9 12 15
4 8 12 16 20
5 10 15 20 25

In [32]:
n=4
for i in range(n):
    for j in range(n):
        print(((i+j)%n+1)**2,end=" ")
    print()

1 4 9 16
4 9 16 1
9 16 1 4
16 1 4 9

In [33]:
n=5
for i in range(n):
    for j in range(n):
        print((n-(i+j)-1)%n+1,end=" ")
    print()

5 4 3 2 1
4 3 2 1 5
3 2 1 5 4
2 1 5 4 3
1 5 4 3 2

In [34]:
n = 5
for i in range(n):
    for j in range(n):
        print(((n - i + j) % n) * 2 + 1, end=" ")
    print()

1 3 5 7 9
9 1 3 5 7
7 9 1 3 5
5 7 9 1 3
3 5 7 9 1

In [35]:
n = 4
for i in range(n):
    for j in range(n):
        print(((i * 2 + j) % n) + 1, end=" ")
    print()

1 2 3 4
3 4 1 2
1 2 3 4
3 4 1 2

In [36]:
n=5
for i in range(n):
    for j in range(n):
        print((i+j+i+j)%n+1, end=" ")
    print()

1 3 5 2 4
3 5 2 4 1
5 2 4 1 3
2 4 1 3 5
4 1 3 5 2

DAY - 3

In [37]:
n=4
for i in range(n):
    for j in range(n):
        print(i+1,end=" ")
    print()

1 1 1 1
2 2 2 2
3 3 3 3
4 4 4 4

In [38]:
n=4
for i in range(n):
    for j in range(n):
        print(j+1,end=" ")
    print()

1 2 3 4
1 2 3 4
1 2 3 4
1 2 3 4

In [39]:
n=5
for i in range(n):
    for j in range(n):
        print((i-j)%n+1,end=" ")
    print()

1 5 4 3 2
2 1 5 4 3
3 2 1 5 4
4 3 2 1 5
5 4 3 2 1

In [40]:
n=5
for i in range(n):
    for j in range(n):
        print((i+j)%n+1,end=" ")
    print()

1 2 3 4 5
2 3 4 5 1
3 4 5 1 2
4 5 1 2 3
5 1 2 3 4

In [41]:
n=5
for i in range(n):
    for j in range(n):
        print((j-i-1)%n+1,end=" ")
    print()

5 1 2 3 4
4 5 1 2 3
3 4 5 1 2
2 3 4 5 1
1 2 3 4 5

In [45]:
n=5
for i in range(n):
    for j in range(n):
        print((n-(j+i)-2)%n+1,end=" ")
    print()

4 3 2 1 5
3 2 1 5 4
2 1 5 4 3
1 5 4 3 2
5 4 3 2 1

In [54]:
n=5
for i in range(n):
    for j in range(n):
        print((n-(j-i)%n),end=" ")
    print()

5 4 3 2 1
1 5 4 3 2
2 1 5 4 3
3 2 1 5 4
4 3 2 1 5